h3{
  margin: 0;
  font-size: 16px;
  text-decoration: none;
}
.board, button.board{
  position: relative;
  padding: 20px 20px 20px;
  display: flex;
  width: 180px;
  height: 80px;
  background-color: #EDCB6B;
  margin: 15px;
  border: var(--main-border);
  border-radius: 15px;
  cursor: pointer;
}
.delete_button{
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 20px;
  height: 15px;
  width: 15px;
  background-color: #ff7676;
  z-index: 50;
}