@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
  --delete-color: #ff7676;
  --bg-color: rgb(0, 86, 140);
  --main-font: 'Quicksand', sans-serif;
  --secondary-font: 'Amatic SC';
  --main-border: 5px solid black;
}
body{
  background-color: var(--bg-color);
  font-family: var(--main-font);
}

.table_title{
  font-family: var(--secondary-font);
  font-size: 40px;
  color: #ff8d63;
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  outline: none;
}
.table_title_div{
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.container{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
button, .add_list_label, .add_list_form{
  font-family: var(--main-font);
  width: 100%;
  height: 15%;
  font-size: 1.5em;
  background-color: #EDBF3B;
  padding: 5px 0 5px 0;
  border-radius: 40px;
  border: var(--main-border)
}
button:hover, .add_list:hover{
  background-color: #f1c763;
  cursor: pointer;
}
.button_column{
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: 500px;
  margin-left: 20px;
}
button.home{
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 5px 10px 5px 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.board_section{
  min-height: 100vh;
  overflow: scroll;
}
.board_section::-webkit-scrollbar { width: 0 !important }
.link_home{
  right: -100px;
  position: absolute;
}

@media (max-width: 450px){
  .container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
  }
  .button_column{
    margin: 0;
    height: 150px;
  }
  .add_list_label{
    height: 70px;
  }
  .board_section .log_out{
    position: relative;
  }

}