@font-face {
  font-family: 'Pacifico', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
}
@font-face {
  font-family: 'Amatic SC', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
}
:root{
  --bg-color: rgb(0, 86, 140);
  --main-font: 'Pacifico', cursive;
  --secondary-font: 'Amatic SC', cursive;
  --main-border: 5px solid black;
}
body{
  background-color: var(--bg-color);
  font-family: var(--main-font);
}
button{
  font-family: 'Pacifico', cursive;
  width: 100%;
  height: 15%;
  font-size: 1.5em;
  background-color: #EDBF3B;
  padding: 5px 0 5px 0;
  border-radius: 40px;
  border: var(--main-border)
}
button:hover{
  background-color: #f1c763;
  cursor: pointer;
}
.table_title{
  font-family: var(--secondary-font);
  font-size: 40px;
  color: #ff8d63;
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;

}
.table_title_div{
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.container{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.button_column{
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: 500px;
}
button.home{
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 5px 10px 5px 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.board_section{
  min-height: 100vh;
  overflow: scroll;
}
.link_home{
  right: -40%;
  position: absolute;
}