.password_warning{
  p{
    font-size: 10px;
    color: #ed8c6b;
  }
  span{
    width: 90%;
    height: 5px;
    display: block;
    border-radius: 5px;
    margin-left: 3%;
  }
  .warning_rect_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 7px;
    margin-top: 5px;
  }
}
