:root{
  --list-color: #ED693B;
}
@keyframes showUp {
  0%{width: 0; height: 0}
  100%{width: 300px; height: 500px}
}
.list{
  position: relative;
  background-color: var(--list-color);
  width: 0;
  height: 0;
  animation: showUp 1s forwards;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  box-shadow: 0 3px 5px black ;
  flex-direction: column;
}
h2{
  text-align: center;
  color: #070000;
  background-color: #EDBF3B;
  width: 80%;
  height:35px;
  padding: 5px 0 5px 0;
  border: 5px solid black;
  border-radius: 30px;
  outline: none;
  overflow: auto;
}
h2::-webkit-scrollbar{
  width: auto;
}
h2:hover{
  background-color: #f1c763;
}

.list .delete_button{
  background-color: var(--delete-color);
  border: 5px solid black;
  right: -5px;
  display: none;
  top: -10px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  z-index: 1;
}
.list:hover .delete_button{
  display: block;
}
@media (max-width: 450px) {
  .list{
    margin-bottom: 30px;
  }
}