.inner_text{
  font-size: 18px;
  resize: none;
  white-space: pre;
  width: calc(95% - 10px);
  height: calc(95% - 10px);
  border: 0;
  background-color: inherit;
  font-family: inherit;
  outline: none;
}

.inner_text::-webkit-scrollbar{
  width: 0;
}
.card p{
  padding: 0;
  margin: 0;
}
.card, .card_slot{
  margin: 0 auto auto auto;
  height: 70px;
  padding: 0;
}
.card_box{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.card{
  width: 230px;
  padding: 0 2.5% 0 2.5%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #bbdffd;
  border: 5px solid black;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;

}

.edit, .del_card{
  display: none;
  right: -15px;
  bottom: -15px;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 5px solid black;
  background-color: var(--bg-color);
  z-index: 5;
}
.del_card{
  right: -15px;
  top: -15px;
  background-color: var(--delete-color);

}
.card:hover .edit, .card:hover .del_card{
  display: block;
}
.hidden{
  display: none;
}
.dragImage{
  position: absolute;
  width: 230px;
  padding: 0 2.5% 0 2.5%;
}