.add_list_label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add_list_label p{
  width: 100%;
  text-align: center;
}
.add_list_form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add_list_form input{
  margin-bottom: 5px;
  background-color: #f1c763;
  border: 2px solid black;
  border-radius: 15px;
  width: 85%;
  height: 35px;
}
.button_panel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add_list_submit{
  border: 2px solid black;
  font-size: 10px;
  height: 25px;
  background-color: #318BC6;
  width: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.add_list_submit:hover{
  background-color: #47a1ea;
}
.add_list_form .delete_button{
  display: block;
  position: initial;
}
